In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('BlackFriday/train.csv')

In [1]:
def mean_mode(data,variable):
    data[variable+'_mean'] = data[variable].fillna(data[variable].mean())
    print("Data after replacing null values with mean :",data[variable+'_mean'])
    print(data[variable+'_mean'].isnull().sum())

def Mode_method(data,variable):
    data[variable+'_mode'] = data[variable].fillna(data[variable].mode())
    print("\n\ndata after replacing null values with Mode :",data[variable+'_mode'].head())
    print("Again checking null values")
    print(data[variable+'_mode'].isnull().sum())

def Median_method(data,variable):
    data[variable+'_median'] = data[variable].fillna(data[variable].median())
    print("/n/nData after replacing null values with median :",data[variable+'_median'])
    print("Again check for null values")
    print(data[variable+'_mode'].isnull().sum())
    

def random_variable(data,variable):
    df[variable+'random_sample']=df[variable]
    sample2 = data[variable].dropna().sample(data[variable].isnull().sum(),random_state = 0)
    sample2.index = data[data[variable].isnull()].index
    df.loc[df[variable].isnull(),variable+'random_sample']=sample2
    print("\n\ndata after replacing null values with random sample")
    print(data[variable+'random_sample'].head())

In [4]:
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [5]:
df['User_ID'].value_counts().median()

54.0

In [7]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [37]:
Mode_method(df,'Occupation')

first 5 elements of  0    10
1    10
2    10
3    10
4    16
Name: Occupation_mode, dtype: int64
Again checking null values
0

In [40]:
new_data = pd.read_csv('titanic.csv')

In [41]:
new_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [44]:
new_data['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [51]:
new_data['Age'].dropna().sample(new_data['Age'].isnull().sum())

488    30.0
623    21.0
658    23.0
35     42.0
86     16.0
       ...
865    42.0
51     21.0
69     26.0
446    13.0
57     28.5
Name: Age, Length: 177, dtype: float64

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

0    24.0
dtype: float64