In [1]:
# Usecases
# Total number of customers?
# Most visited branch?
# City vs customer analysis?
# Customer ratio based on customer type?
# Most sold product line? general analysis
# Costiest product in the shop?
# Total gross income?
# Total gross income per branch?
# Payment type analysis?
# rush hours?
# Total Margin?
# Total % of margin?
# convert the gross income into rupees for every invoice ID?

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("data/supermarket_sales.csv")

In [4]:
data

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.22,03-08-2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.048,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.49,03-02-2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.432,02-09-2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.111,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.299,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [5]:
data.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                       object
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [6]:
data.info

<bound method DataFrame.info of       Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%     Total  \
0         Health and beauty       74.69         7  26.1415  548.9715
1    Electronic accessories       15.28         5   3.8200     80.22
2        Home and lifestyle       46.33         7  16.2155  340.5255
3         Health and beauty       58.22         8  23.2880   489.048
4         Sports and travel       86.31         7  30.2085  634.3785
..                      ...         ...       ...      ...       ...
995       Health and beauty       40.35         1   2.0175   42.3675
996      Home and lifestyle       97.38        10  48.6900   1022.49
997      Food and beverages       31.84         1   1.5920    33.432
998      Home and lifestyle       65.82         1   3.2910    69.111
999     Fashion accessories       88.34         7  30.9190   649.299

           Date   Time      Payment    cogs  gross margin percentage  \
0    01-05-2019  13:08      Ewallet  522.83                 4.761905
1    03-08-2019  10:29         Cash   76.40                 4.761905
2    03-03-2019  13:23  Credit card  324.31                 4.761905
3     1/27/2019  20:33      Ewallet  465.76                 4.761905
4    02-08-2019  10:37      Ewallet  604.17                 4.761905
..          ...    ...          ...     ...                      ...
995   1/29/2019  13:46      Ewallet   40.35                 4.761905
996  03-02-2019  17:16      Ewallet  973.80                 4.761905
997  02-09-2019  13:22         Cash   31.84                 4.761905
998   2/22/2019  15:33         Cash   65.82                 4.761905
999   2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]>

In [7]:
data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.22,03-08-2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.048,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [8]:
data.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.49,03-02-2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.432,02-09-2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.111,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.299,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [9]:
#to calaculate the mean of Gross Income ?
data['gross income'].mean()

15.379369000000002

In [10]:
#to calaculate the median of Gross Income ?
data['gross income'].median()

12.088000000000001

In [11]:
# mode of gender
data['Gender'].mode() # chacategorial values mode

0    Female
dtype: object

In [12]:
data['Gender'].value_counts()# for finding total number of male and female

Female    501
Male      499
Name: Gender, dtype: int64

In [13]:
data["Gender"].nunique() # for numerically describe the unique  value

2

In [14]:
data.describe(include='O')

,Invoice ID,Branch,City,Customer type,Gender,Product line,Total,Date,Time,Payment
count,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,1000,3,3,2,2,6,990,89,506,3
top,750-67-8428,A,Yangon,Member,Female,Fashion accessories,216.846,02-07-2019,19:48,Ewallet
freq,1,340,340,501,501,178,2,20,7,345

In [15]:
# create a function 
 # arg : Data 
#     - shape
#     - dtype
#     - head
#     - tail
#     - describe
#     - info
#     - null
# data = pd.read_csv("data/supermarket_sales.csv")

In [28]:
def summaryofdata(data):
    print("Shape of the data :\n",data.shape)
    print("\n\n Data type of the given data :\n ",data.dtypes)
    print("\n\n First 5 data :\n",data.head())
    print(" \n\nLast 5 data :\n",data.tail())
    print("\n\n Describing the data :\n ",data.describe)
    print("\n\n Info of the data :\n",data.info())
    print("\n\n Finding the missing value:\n",data.isnull().sum())
summaryofdata(data)

Shape of the data :
 (1000, 17)


 Data type of the given data :
  Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                       object
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object


 First 5 data :
     Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total  \
0       Health and beauty       74.69         7  26.1415  548.9715
1  Electronic accessories       15.28         5   3.8200     80.22
2      Home and lifestyle       46.33         7  16.2155  340.5255
3       Health and beauty       58.22         8  23.2880   489.048
4       Sports and travel       86.31         7  30.2085  634.3785

         Date   Time      Payment    cogs  gross margin percentage  \
0  01-05-2019  13:08      Ewallet  522.83                 4.761905
1  03-08-2019  10:29         Cash   76.40                 4.761905
2  03-03-2019  13:23  Credit card  324.31                 4.761905
3   1/27/2019  20:33      Ewallet  465.76                 4.761905
4  02-08-2019  10:37      Ewallet  604.17                 4.761905

   gross income  Rating
0       26.1415     9.1
1        3.8200     9.6
2       16.2155     7.4
3       23.2880     8.4
4       30.2085     5.3


Last 5 data :
       Invoice ID Branch       City Customer type  Gender         Product line  \
995  233-67-5758      C  Naypyitaw        Normal    Male    Health and beauty
996  303-96-2227      B   Mandalay        Normal  Female   Home and lifestyle
997  727-02-1313      A     Yangon        Member    Male   Food and beverages
998  347-56-2442      A     Yangon        Normal    Male   Home and lifestyle
999  849-09-3807      A     Yangon        Member  Female  Fashion accessories

     Unit price  Quantity   Tax 5%    Total        Date   Time  Payment  \
995       40.35         1   2.0175  42.3675   1/29/2019  13:46  Ewallet
996       97.38        10  48.6900  1022.49  03-02-2019  17:16  Ewallet
997       31.84         1   1.5920   33.432  02-09-2019  13:22     Cash
998       65.82         1   3.2910   69.111   2/22/2019  15:33     Cash
999       88.34         7  30.9190  649.299   2/18/2019  13:28     Cash

       cogs  gross margin percentage  gross income  Rating
995   40.35                 4.761905        2.0175     6.2
996  973.80                 4.761905       48.6900     4.4
997   31.84                 4.761905        1.5920     7.7
998   65.82                 4.761905        3.2910     4.1
999  618.38                 4.761905       30.9190     6.6


 Describing the data :
  <bound method NDFrame.describe of       Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%     Total  \
0         Health and beauty       74.69         7  26.1415  548.9715
1    Electronic accessories       15.28         5   3.8200     80.22
2        Home and lifestyle       46.33         7  16.2155  340.5255
3         Health and beauty       58.22         8  23.2880   489.048
4         Sports and travel       86.31         7  30.2085  634.3785
..                      ...         ...       ...      ...       ...
995       Health and beauty       40.35         1   2.0175   42.3675
996      Home and lifestyle       97.38        10  48.6900   1022.49
997      Food and beverages       31.84         1   1.5920    33.432
998      Home and lifestyle       65.82         1   3.2910    69.111
999     Fashion accessories       88.34         7  30.9190   649.299

           Date   Time      Payment    cogs  gross margin percentage  \
0    01-05-2019  13:08      Ewallet  522.83                 4.761905
1    03-08-2019  10:29         Cash   76.40                 4.761905
2    03-03-2019  13:23  Credit card  324.31                 4.761905
3     1/27/2019  20:33      Ewallet  465.76                 4.761905
4    02-08-2019  10:37      Ewallet  604.17                 4.761905
..          ...    ...          ...     ...                      ...
995   1/29/2019  13:46      Ewallet   40.35                 4.761905
996  03-02-2019  17:16      Ewallet  973.80                 4.761905
997  02-09-2019  13:22         Cash   31.84                 4.761905
998   2/22/2019  15:33         Cash   65.82                 4.761905
999   2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   object
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB


 Info of the data :
 None


 Finding the missing value:
 Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [17]:
data.n

AttributeError: 'DataFrame' object has no attribute 'n'

In [ ]:
# total gross income
totalGrossIncome = data['gross income'].sum()
print('Total gross income is :',totalGrossIncome)

In [ ]:
# which is the most commonly used payment type ?
payment = data['Payment'].mode()[0]

In [ ]:
payment

In [ ]:
print(f"{payment} is the most commonly used payment ")

In [ ]:
# whAAT IS THE AVERAGE UNIT PRICE OF THE PRODUCTS
average = data["Unit price"].mean()

In [ ]:
print(f"The average unit price of the product is {average}")# f is used call variables in {} f = formated string literal

In [ ]:
# standarad deviation of product unit price ?
data["Unit price"].std()

In [ ]:
# what is the total number of sales? == number of Invoice ?
data["Invoice ID"].nunique()

In [ ]:
data["Invoice ID"].shape

In [ ]:
data["Invoice ID"].size

In [ ]:
data["Invoice ID"].count()

In [ ]:
data["Product line"].unique()

In [ ]:
#Problem 2
data = pd.read_csv("data/adult.csv")

In [ ]:
summaryofdata(data)

In [ ]:
data.isnull().sum()

In [ ]:
# average work hour per week
data['hours-per-week'].mean()

In [ ]:
# Average working hours Female and male
data.groupby('gender')['hours-per-week'].mean()

In [ ]:
data.columns

In [ ]:
data['workclass'].unique()

In [ ]:
data['workclass'].nunique()

In [ ]:
data['workclass'].mode()

In [ ]:
data.groupby(['workclass','gender'])['hours-per-week'].mean() #when multiple class needed write it in a list (["w,e"])

In [ ]:
data.describe # we get numerical values

In [ ]:
data.describe(include="O")# we get  characteristic value

In [ ]:
#with respect to Race ,working class and gender calculate Average hours per week

In [ ]:
data['race'].value_counts()

In [ ]:
data['race'].mode()[0]

In [ ]:
data.groupby(['race','workclass','gender'])['hours-per-week'].mean() # before max display

In [ ]:
pd.set_option('display.max_row',100) # display 100line

In [ ]:
data.groupby(['race','workclass','gender'])['hours-per-week'].mean() # after max displays rows

In [ ]:
#with respect to Race ,working class and gender calculate Average  age and hours per week
data.groupby(['race','workclass','gender'])['age','hours-per-week'].mean()

In [ ]:
outputDF= data.groupby(['race','workclass','gender'])['age','hours-per-week'].mean()

In [ ]:
type(outputDF)

In [ ]:
# to csv 
outputDF.to_csv("sample.csv")

In [ ]:
# to excel
outputDF.to_excel("sample2.xlsx")

In [ ]:
outputDF.to_excel(r"D:\AI\libraries of AI\Pandas\data\sample2.xlsx")

In [ ]:
import pandas as pd
df_customer = pd.DataFrame({
    'id': [1,2,3,4],
    'name':['tom','Jenny','James','Dan']
})
df_info = pd.DataFrame({
    'id': [2,3,4,5],
    'age':[32,20,40,70],
    'sex': ['F','M','M','F']
})

In [ ]:
df_customer

In [ ]:
df_info

In [ ]:
#pd.merge(df_customer,df_info, on = 'id') #specify column to merge

In [ ]:
#df_customer.merge(df_info)

In [ ]:
pd.merge(df_customer, df_order,on = ['id','name'])

In [ ]:
pd.set_option("display.max_rows",100)

In [ ]:
data

In [ ]:
pd.set_option("display.max_rows",100)
data

In [ ]:
df_customer

In [ ]:
df_info

In [ ]:
pd.merge(df_customer,df_info)

In [ ]:
df_order = pd.DataFrame({
    'id': [1,2,3,5],
    'name':['tom','Jenny','James','Dan'],
    'quantity':[2,3,4,5]
})
df_order

In [ ]:
df_customer

In [ ]:
pd.merge(df_customer,df_order)

In [ ]:
pd.merge(df_customer,df_order,on="id") #for merging on id

In [ ]:
pd.merge(df_customer,df_order,on=["id","name"])

In [ ]:
df_info2 = pd.DataFrame({
    "customer id":[2,3,4,5],
    "age":[31,20,40,70],
    "sex":["F","M","M","F"]
})

In [ ]:
df_info2

In [ ]:
pd.merge(df_customer,df_info2,left_on = "id",right_on ="customer id") #left on and right on are used when thee is no same column

In [ ]:
pd.merge(df_customer,df_info, how = "left", on = "id") # pd.merge

In [ ]:
pd.merge(df_customer,df_info, how = "right", on = "id")

In [ ]:
pd.merge(df_customer,df_info, how = "outer", on = "id")

In [ ]:
df2=pd.DataFrame({
    "city": ["chicago","newyork","san diego"],
    "humidity": [65,68,71]
})
df1 = pd.DataFrame({
    "city":["newyork","chicago","b","c"],
    "temp":[10,20,30,40]
})

In [ ]:
pd.merge(df1,df2,on="city",how='outer',indicator=True)

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.merge(df1,df2,on = 'city',how='left',suffixes=('a', 'b'),)

In [ ]:
# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj','Ijas'], 
        'Age':[27, 24, 22, 32,50] ,
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj','Kerala'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd','Btech']} 
   
# Define a dictionary containing employee data 
data2 = {'Name':['Abhi', 'Ayushi', 'Dhiraj', 'Hitesh','Ijas'], 
        'Age':[17, 14, 12, 52,50], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj','Tamil Nadu'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons','Btech']}

In [ ]:
print(pd.DataFrame(data1),"\n\n",pd.DataFrame(data2))

In [ ]:
df = pd.DataFrame(data1,index=[0,1,2,3,4])#specifies index

In [ ]:
df1= pd.DataFrame(data2,index=[5,6,7,8,9])

In [ ]:
print(df,"\n\n",df1)

In [ ]:
pd.concat([df,df1])

In [ ]:
pd.concat([df,df1],axis=1)

In [ ]:
res1=pd.concat([df,df1])
res1

In [ ]:
res1.drop_duplicates()

In [ ]:
res1.drop_duplicates(["Name"]) # remove duplicate in name

In [ ]:
res1.drop_duplicates(["Name"],keep='last') # first delete last keep

In [ ]:
df = pd.DataFrame(data1)
df1 = pd.DataFrame(data2)

In [ ]:
df

In [ ]:
df.loc["Age"]

In [ ]:
pd.concat([df,df1])

In [ ]:
pd.concat([df,df1],ignore_index="True")# provide index

In [ ]:
pd.concat([df,df1],keys=['keys1','keys2'])

In [21]:
newdf = pd.concat([df,df1],keys=['keys1','keys2'])

NameError: name 'df1' is not defined

In [22]:
newdf.loc["keys1"]

NameError: name 'newdf' is not defined

In [ ]:
newdf.to_csv("sample5.csv")

In [19]:
df = pd.read_csv("data/data.csv")

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df.plot()
plt.show()

In [ ]:
df

In [ ]:
df.plot(x="Duration",y="Calories",kind="scatter")
plt.show()

In [ ]:
df.plot(x="Duration",y="Maxpulse",kind="scatter") 
plt.show()

In [ ]:
df["Duration"].value_counts()

In [ ]:
df["Duration"].plot(kind='hist')# frequncy of occurency of 50
plt.show()

In [ ]:
df["Calories"].plot(kind="hist")
plt.show()

In [ ]:
df["Pulse"].plot(kind='hist')

In [ ]:
df["Pulse"].plot(kind='bar')

In [23]:
data= df

In [24]:
summaryofdata(data)

Shape of the data :
 (169, 4)


 Data type of the given data :
  Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object


 First 5 data :
    Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0


Last 5 data :
      Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4


 Describing the data :
  <bound method NDFrame.describe of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB


 Info of the data :
 None


 Finding the missing value:
 Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [25]:
data=pd.read_csv('data/supermarket_sales.csv')

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   object
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB

In [26]:
summaryofdata(data)

Shape of the data :
 (1000, 17)


 Data type of the given data :
  Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                       object
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object


 First 5 data :
     Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total  \
0       Health and beauty       74.69         7  26.1415  548.9715
1  Electronic accessories       15.28         5   3.8200     80.22
2      Home and lifestyle       46.33         7  16.2155  340.5255
3       Health and beauty       58.22         8  23.2880   489.048
4       Sports and travel       86.31         7  30.2085  634.3785

         Date   Time      Payment    cogs  gross margin percentage  \
0  01-05-2019  13:08      Ewallet  522.83                 4.761905
1  03-08-2019  10:29         Cash   76.40                 4.761905
2  03-03-2019  13:23  Credit card  324.31                 4.761905
3   1/27/2019  20:33      Ewallet  465.76                 4.761905
4  02-08-2019  10:37      Ewallet  604.17                 4.761905

   gross income  Rating
0       26.1415     9.1
1        3.8200     9.6
2       16.2155     7.4
3       23.2880     8.4
4       30.2085     5.3


Last 5 data :
       Invoice ID Branch       City Customer type  Gender         Product line  \
995  233-67-5758      C  Naypyitaw        Normal    Male    Health and beauty
996  303-96-2227      B   Mandalay        Normal  Female   Home and lifestyle
997  727-02-1313      A     Yangon        Member    Male   Food and beverages
998  347-56-2442      A     Yangon        Normal    Male   Home and lifestyle
999  849-09-3807      A     Yangon        Member  Female  Fashion accessories

     Unit price  Quantity   Tax 5%    Total        Date   Time  Payment  \
995       40.35         1   2.0175  42.3675   1/29/2019  13:46  Ewallet
996       97.38        10  48.6900  1022.49  03-02-2019  17:16  Ewallet
997       31.84         1   1.5920   33.432  02-09-2019  13:22     Cash
998       65.82         1   3.2910   69.111   2/22/2019  15:33     Cash
999       88.34         7  30.9190  649.299   2/18/2019  13:28     Cash

       cogs  gross margin percentage  gross income  Rating
995   40.35                 4.761905        2.0175     6.2
996  973.80                 4.761905       48.6900     4.4
997   31.84                 4.761905        1.5920     7.7
998   65.82                 4.761905        3.2910     4.1
999  618.38                 4.761905       30.9190     6.6


 Describing the data :
  <bound method NDFrame.describe of       Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%     Total  \
0         Health and beauty       74.69         7  26.1415  548.9715
1    Electronic accessories       15.28         5   3.8200     80.22
2        Home and lifestyle       46.33         7  16.2155  340.5255
3         Health and beauty       58.22         8  23.2880   489.048
4         Sports and travel       86.31         7  30.2085  634.3785
..                      ...         ...       ...      ...       ...
995       Health and beauty       40.35         1   2.0175   42.3675
996      Home and lifestyle       97.38        10  48.6900   1022.49
997      Food and beverages       31.84         1   1.5920    33.432
998      Home and lifestyle       65.82         1   3.2910    69.111
999     Fashion accessories       88.34         7  30.9190   649.299

           Date   Time      Payment    cogs  gross margin percentage  \
0    01-05-2019  13:08      Ewallet  522.83                 4.761905
1    03-08-2019  10:29         Cash   76.40                 4.761905
2    03-03-2019  13:23  Credit card  324.31                 4.761905
3     1/27/2019  20:33      Ewallet  465.76                 4.761905
4    02-08-2019  10:37      Ewallet  604.17                 4.761905
..          ...    ...          ...     ...                      ...
995   1/29/2019  13:46      Ewallet   40.35                 4.761905
996  03-02-2019  17:16      Ewallet  973.80                 4.761905
997  02-09-2019  13:22         Cash   31.84                 4.761905
998   2/22/2019  15:33         Cash   65.82                 4.761905
999   2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   object
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB


 Info of the data :
 None


 Finding the missing value:
 Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64